In [3]:
#Python keyword
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [4]:
#Indentation
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
#python docstring
def doublenum(num):
    '''Function to duble a number'''
    return num*2

print(doublenum(10))
print(doublenum.__doc__)

20
Function to duble a number

In [6]:
#string
s = "This is online Placement Course"
print(s)

This is online Placement Course

In [7]:
print(s[0])

T

In [8]:
print(s[5:])

is online Placement Course

In [1]:
#python list
a=[10, 20.5, "Hello"]
print(a)
print(a[1])
print(a[-1])

[10, 20.5, 'Hello']
20.5
Hello

In [2]:
#list are mutable, means value of a list can be altered
a[1]=30.7
print(a)

[10, 30.7, 'Hello']

In [3]:
#Python tuple
t=(1, 1.5, "Placement")
print(t[1])

1.5

In [4]:
#tuple are immutable
t[1]=3

TypeError: 'tuple' object does not support item assignment

In [5]:
#Python Set
a={10, 20, 30, 40, 40}
print(a)
print(type(a))

{40, 10, 20, 30}
<class 'set'>

In [6]:
#we can't able to print particular element
print(a[1])

TypeError: 'set' object is not subscriptable

In [8]:
#python dictionary
d = {'a': "apple", 'b': "Bat"}
print(d['a'])

apple

In [10]:
#conversian between datatypes
user="saurav"
lines= 100
print("Congratulation, "+ user + "! you just wrote " + str(lines) + " lines of code")

Congratulation, saurav! you just wrote 100 lines of code

In [11]:
a=[1, 2, 3]
print(type(a))
s=set(a)
print(type(s))

<class 'list'>
<class 'set'>

In [12]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [15]:
a=10
b=20
print("The value of a is {} and b is {}".format(a,b))

The value of a is 10 and b is 20

In [16]:
#python output
num = input("Enter a number ")
print(num)

11

In [17]:
#Python program to find the largest element among three numbers
num1 = 10
num2 = 50
num3 = 15
if((num1>=num2) and (num1>=num3)):
    largest = num1
elif((num2>=num1) and (num2>=num3)):
    largest = num2
else:
    largest = num3
print("Largest element amoung three numbers is {}".format(largest))

Largest element amoung three numbers is 50

In [19]:
lst = [10, 20, 30, 40, 50]
product =1
index=0
while(index < len(lst)):
    product *= lst[index]
    index += 1
else:
    print("No more element left in the list")
print("The product of the element of list is : {}".format(product))

No more element left in the list
The product of the element of list is : 12000000

In [24]:
#python program to check given number is python or not
num = int(input("Enter the Number: "))
isDivisible = False
i=2
while (i < num):
    if(num%i==0):
        isDivisible= True
        print("{} is divisible by {}".format(num, i))
    i += 1
if isDivisible:
    print("{} is not a prime number".format(num))

else:
    print("{} is a prime number".format(num))

12 is divisible by 2
12 is divisible by 3
12 is divisible by 4
12 is divisible by 6
12 is not a prime number

In [27]:
lst = ["Saurav", "Shweta", "Gaurav", "Vaibhav", "Abhinav"]
for index in range(len(lst)):
    print(lst[index])

Saurav
Shweta
Gaurav
Vaibhav
Abhinav

In [31]:
#Python program to display all prime numbers within an interval
index1=10
index2=50
print("Prime number between {} and {} are ".format(index1, index2))

for num in range(index1, index2+1):
    if num > 1:
        isDivisible= False
        for index in range(2, num):
            if num % index == 0:
                isDivisible = True
        if not isDivisible:
            print(num)

Prime number between 10 and 50 are
11
13
17
19
23
29
31
37
41
43
47